h1{
  text-align: center;
}

td{
  background-color: black;
  height: 200px;
  width: 150px;
}

.art{
  margin: auto;
}
#col1{
  background-color: #247BA0;
}
#col2{
  background-color: #70C1B3;
}
#col3{
  background-color: #B2DBBF;
}
#col4{
  background-color: #F3FFBD;
}
#col5{
  background-color: #FF1654;
}
