/*All HTML elements can be considered as boxes. In CSS, the term "box model" is used when talking about design and layout.

The CSS box model is essentially a box that wraps around every HTML element. It consists of: margins, borders, padding, and the actual content. */

/* Box content
From inside out: content -> padding -> border -> margin
side labels: top, right, bottom, Left
*/


#top{
  border: 4px solid blue;
  width: 25%;
  text-align: center;

  /*margin: <Top, Right, Bottom, Left>*/
  /* margin: 10px 20px 100px 400px; */
  margin: auto;
}

#bottom{
  border: 4px solid red;
  width: 50%;
  padding: 200px;
  text-align: center;

  /*even margins*/
  /* margin: 200px; */
  /*margin: auto;*/

  /* padding: 200px; */
}
