body{
  background: gray;
  /* background: url(http://www.resortcollection.com/wp-content/themes/resortcollection/property-images/summit/summit-beach-resort-panama-city-beach-fl-beach-01.jpg); */
  /* background-repeat:no-repeat; */
}

div{
  background: red;
  border-color: blue;
  border-width: medium;
  border-style: dotted;

p{
  color: yellow;
}
span{
  background: red;
  color: black;
}
