body{
  /* background: gray; */
  background: url(https://image.shutterstock.com/image-photo/tropical-beach-background-summer-landscape-260nw-1101320201.jpg);
  /* background-repeat:no-repeat; */
  background-repeat: repeat;
}

div{
  background: blue;
  border-color: orange;
  /* border-width: thick; */
  border-width: 5px;
  /* border-style: dotted; */
  border-style: double;
}

p{
  color: yellow;
}

span{
  background: red;
  color: black;

}
